# Игнорировать всё
*

# Но разрешить эти типы файлов
!DONATIONS.md
!sys_bsd.c
!sys_windows.c
!sys_macos.c
!sys_linux.c
!sys.h
!main.c
!math.c
!engine.c
!makefile
!README.md
!LICENSE
!NOTICE
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!IIAbout/
!IIAbout/*
# Игнорировать
