# Игнорировать всё
*

# Но разрешить эти типы файлов
!DONATIONS.md
!sys_windows.c
!sys_macos.c
!sys_linux.c
!sys.h
!main.c
!engine.c
!makefile
!README.md
!LICENSE
!NOTICE
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!.github/GoogleIIabout/
!.github/GoogleIIabout/*
# Игнорировать
