name: C/C++ CI

on:
  push:
  workflow_dispatch:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch: 
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: configure
      run: ./configure
    - name: make
      run: make
